{% extends "base_template.html" %}

{% block title %}
{% if post_id %}
Modificando el post {{ post_id }}
{% else %}
Nuevo post
{% endif %}
{% endblock %}

{% block content %}

<div class="card">
    <div class="card-header">
        Formulario de posteo
    </div>
    <div class="card-body">
        <form action="" method="POST" novalidate>
            {{ form.hidden_tag() }}

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    {{ form.title.label(class="input-group-text", id="basic-addon1") }}
                </div>
                {% set attribs = { 'aria-label':"Username", 'aria-describedby':"basic-addon1", 'type':"text", 'class':"form-control", 'placeholder':"Maximo 128 caracteres" } %}
                {{ form.title(size=128, **attribs) }}<br>
                {% for error in form.title.errors %}
                <span style="color: red;">{{ error }}</span>
                {% endfor %}

            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon3">https://minipost.com/admin/post</span>
                </div>
                {% set attribs = { 'type':"text", 'class':"form-control", 'id':"basic-url", 'aria-describedby':"basic-addon3", 'placeholder':"Tu URL personalizada (Ejemplo: mi-primer-post)" } %}
                {{ form.title_slug(size=128, **attribs) }} <br>
                {% for error in form.title_slug.errors %}
                <span style="color: red;">{{ error }}</span>
                {% endfor %}

            </div>

            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Contenido</span>
                </div>
                {% set attribs = { 'class':"form-control", 'aria-label':"With textarea", 'placeholder':"El limite es el cielo" } %}
                {{ form.content(**attribs) }} <br>
                {% for error in form.content.errors %}
                <span style="color: red;">{{ error }}</span>
                {% endfor %}

            </div>
            
    </div>
    <div class="card-footer text-muted">
        {% set attribs = { 'class':"btn btn-primary pu-4", 'type':"submit" } %}
        {{ form.submit(**attribs) }}
    </div>
</div>




{% endblock %}